@model Assessment.Models.Amigo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmigoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmigoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmigoSobrenome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmigoSobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmigoTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmigoTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmigoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmigoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AniversarioAmigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AniversarioAmigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisAmigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisAmigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAmigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAmigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemAmigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemAmigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AmigoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
